---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_analytics_opensearch_pattern

Creates a pattern for a opensearch cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/resources/cloud_managed_analytics_opensearch_pattern/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required, Forces new resource) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required, Forces new resource) Cluster ID.

* `max_index_count` - (Optional, Forces new resource) Maximum number of index for this pattern.

* `pattern` - (Required, Forces new resource) Pattern format.

## Attributes Reference

The following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `id` - ID of the pattern.
* `max_index_count` - See Argument Reference above.
* `pattern` - See Argument Reference above.
* `service_name` - See Argument Reference above.

## Timeouts

{{tffile "examples/resources/cloud_managed_analytics_opensearch_pattern/example_2.tf"}}
* `create` - (Default 20m)
* `delete` - (Default 20m)

## Import

OVHcloud Managed opensearch clusters patterns can be imported using the `service_name`, `cluster_id` and `id` of the pattern, separated by "/" E.g.,

```bash
$ terraform import ovh_cloud_managed_analytics_opensearch_pattern.my_pattern service_name/cluster_id/id
```
