---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_analytics_ip_restriction

~> **DEPRECATED** Use `ip_restrictions` field in `ovh_cloud_managed_analytics` resource instead. Using the `ovh_cloud_managed_analytics_ip_restriction` resource to add an IP restriction to a `ovh_cloud_managed_analytics` resource will cause its update on each apply

~> **NOTE** This resource is only compatible with the following engines: **cassandra, grafana, kafka, kakfaConnect, m3db, mongodb, mysql, opensearch, postgres, redis**

Apply IP restrictions to an OVHcloud Managed Database cluster.

## Example Usage

{{tffile "examples/resources/cloud_managed_analytics_ip_restriction/example_1.tf"}}

## Argument Reference

* `service_name` - (Required, Forces new resource) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `engine` - (Required, Forces new resource) The engine of the database cluster you want to add an IP restriction. To get a full list of available engine visit. [public documentation](https://docs.ovh.com/gb/en/publiccloud/databases).

* `cluster_id` - (Required, Forces new resource) Cluster ID.

* `ip` - (Required, Forces new resource) Authorized IP.

* `description` - (Optional) Description of the IP restriction.

## Attributes Reference

The following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `description` - See Argument Reference above.
* `engine` - See Argument Reference above.
* `ip` - See Argument Reference above.
* `service_name` - See Argument Reference above.
* `status` - Current status of the IP restriction.

## Timeouts

{{tffile "examples/resources/cloud_managed_analytics_ip_restriction/example_2.tf"}}
* `create` - (Default 20m)
* `update` - (Default 20m)
* `delete` - (Default 20m)

## Import

OVHcloud Managed database cluster IP restrictions can be imported using the `service_name`, `engine`, `cluster_id` and the `ip`, separated by "/" E.g.,

```bash
$ terraform import ovh_cloud_managed_analytics_ip_restriction.my_ip_restriction service_name/engine/cluster_id/178.97.6.0/24
```
