---
subcategory : "Managed Private Registry (MPR)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_containerregistry_iam

Creates an IAM configuration in an OVHcloud Managed Private Registry.

## Example Usage

{{tffile "examples/resources/cloud_project_containerregistry_iam/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - The ID of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used. **Changing this value recreates the resource.**
* `registry_id` - The ID of the Managed Private Registry. **Changing this value recreates the resource.**
* `delete_users` - Delete existing users from Harbor. IAM can't be enabled if there is at least one user already created. This parameter is only used at IAM configuration creation. **Changing this value recreates the resource.**

## Timeouts

{{tffile "examples/resources/cloud_project_containerregistry_iam/example_2.tf"}}
* `create` - (Default 10m)
* `update` - (Default 10m)
* `delete` - (Default 10m)

## Import

OVHcloud Managed Private Registry IAM can be imported using the tenant `service_name` and registry id `registry_id` separated by "/" E.g.,

```bash
$ terraform import ovh_cloud_project_containerregistry_iam.my-iam service_name/registry_id
```
