---
subcategory : "Cloud Project"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_volume

Create volume in a public cloud project.

## Example Usage

Create a subscription

{{tffile "examples/resources/cloud_project_region_volume/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - Required. The id of the public cloud project. **Changing this value recreates the resource.**
* `region_name` - Required. A valid OVHcloud public cloud region name in which the volume will be available. Ex.: "GRA11". **Changing this value recreates the resource.**
* `description` - A description of the volume
* `name` - Name of the volume
* `size` - Size (GB) of the volume
* `type` - Type of the volume **Changing this value recreates the resource.**

## Attributes Reference

The following attributes are exported:

* `service_name` - The id of the public cloud project.
* `region_name` - A valid OVHcloud public cloud region name in which the volume will be available.
* `description` - A description of the volume
* `name` - Name of the volume
* `size` - Size of the volume
* `id` - id of the volume
