---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_database_kafka_acl

Creates an ACL for a kafka cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/resources/cloud_project_database_kafka_acl/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required, Forces new resource) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required, Forces new resource) Cluster ID.

* `permission` - (Required, Forces new resource) Permission to give to this username on this topic. Available permissions:
  * `admin`
  * `read`
  * `write`
  * `readwrite`

* `topic` - (Required, Forces new resource) Topic affected by this ACL.

* `username` - (Required, Forces new resource) Username affected by this ACL.

## Attributes Reference

The following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `id` - ID of the ACL.
* `permission` - See Argument Reference above.
* `service_name` - See Argument Reference above.
* `topic` - See Argument Reference above.
* `username` - See Argument Reference above.

## Timeouts

{{tffile "examples/resources/cloud_project_database_kafka_acl/example_2.tf"}}
* `create` - (Default 20m)
* `delete` - (Default 20m)

## Import

OVHcloud Managed kafka clusters ACLs can be imported using the `service_name`, `cluster_id` and `id` of the acl, separated by "/" E.g.,

```bash
$ terraform import ovh_cloud_project_database_kafka_acl.my_acl service_name/cluster_id/id
```
