---
subcategory : "Managed Kubernetes Service (MKS)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_kube_iprestrictions

Apply IP restrictions to an OVHcloud Managed Kubernetes cluster.

## Example Usage

{{tffile "examples/resources/cloud_project_kube_iprestrictions/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used. **Changing this value recreates the resource.**
* `kube_id` - The id of the managed Kubernetes cluster. **Changing this value recreates the resource.**
* `ips` - List of CIDR authorized to interact with the managed Kubernetes cluster.

## Attributes Reference

No additional attributes than the ones provided are exported.

## Timeouts

{{tffile "examples/resources/cloud_project_kube_iprestrictions/example_2.tf"}}
* `create` - (Default 10m)
* `update` - (Default 5m)
* `delete` - (Default 5m)

## Import

OVHcloud Managed Kubernetes Service cluster IP restrictions can be imported using the `service_name` and the `id` of the cluster, separated by "/" E.g.,

```bash
$ terraform import ovh_cloud_project_kube_iprestrictions.iprestrictions service_name/kube_id
```
