---
subcategory : "Cloud Project"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_user

Creates a user in a public cloud project.

## Example Usage

{{tffile "examples/resources/cloud_project_user/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `description` - A description associated with the user.

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `role_name` - The name of a role. See `role_names`.

* `role_names` - A list of role names. Values can be:
  - admin
  - administrator
  - ai_training_operator
  - ai_training_read
  - authentication
  - backup_operator
  - compute_operator
  - image_operator
  - infrastructure_supervisor
  - key-manager_operator
  - key-manager_read
  - load-balancer_operator
  - network_operator
  - network_security_operator
  - objectstore_operator
  - volume_operator

## Attributes Reference

The following attributes are exported:

* `creation_date` - the date the user was created.
* `description` - See Argument Reference above.
* `openstack_rc` - a convenient map representing an openstack_rc file. Note: no password nor sensitive token is set in this map.
* `password` - (Sensitive) the password generated for the user. The password can be used with the Openstack API. This attribute is sensitive and will only be retrieve once during creation.
* `roles` - A list of roles associated with the user.
  * `description` - description of the role
  * `id` - id of the role
  * `name` - name of the role
  * `permissions` - list of permissions associated with the role
* `service_name` - See Argument Reference above.
* `status` - the status of the user. should be normally set to 'ok'.
* `username` - the username generated for the user. This username can be used with the Openstack API.
