---
subcategory : "Logs Data Platform"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_dbaas_logs_output_graylog_stream

Creates a DBaaS Logs Graylog output stream.

## Example Usage

{{tffile "examples/resources/dbaas_logs_output_graylog_stream/example_1.tf"}}

To define the retention of the stream, you can use the following configuration:

{{tffile "examples/resources/dbaas_logs_output_graylog_stream/example_2.tf"}}

## Argument Reference

The following arguments are supported:
* `service_name` - (Required) The service name
* `title` - (Required) Stream name
* `description` - (Required) Stream description
* `parent_stream_id` - Parent stream ID
* `retention_id` - Retention ID
* `cold_storage_compression` - Cold storage compression method. One of "LZMA", "GZIP", "DEFLATED", "ZSTD"
* `cold_storage_content` - ColdStorage content. One of "ALL", "GLEF", "PLAIN"
* `cold_storage_enabled` - Is Cold storage enabled?
* `cold_storage_notify_enabled` - Notify on new Cold storage archive
* `cold_storage_retention` - Cold storage retention in year
* `cold_storage_target` - ColdStorage destination. One of "PCA", "PCS"
* `indexing_enabled` - Enable ES indexing
* `indexing_max_size` - Maximum indexing size (in GB)
* `indexing_notify_enabled` - If set, notify when size is near 80, 90 or 100 % of the maximum configured setting
* `pause_indexing_on_max_size` - If set, pause indexing when maximum size is reached
* `web_socket_enabled` - Enable Websocket

## Attributes Reference

Id is set to the output stream Id. In addition, the following attributes are exported:

* `can_alert` - Indicates if the current user can create alert on the stream
* `created_at` - Stream creation
* `is_editable` - Indicates if you are allowed to edit entry
* `is_shareable` - Indicates if you are allowed to share entry
* `nb_alert_condition` - Number of alert condition
* `nb_archive` - Number of coldstored archivesr
* `stream_id` - Stream ID
* `updated_at` - Stream last updater
* `write_token` - Write token of the stream (empty if the caller is not the owner of the stream)

## Import

DBaas logs output Graylog stream can be imported using the `service_name` of the cluster and `stream_id` of the graylog output stream, separated by "/" E.g.,

```bash
$ terraform import ovh_dbaas_logs_output_graylog_stream.ldp ldp-az-12345/9d2f9cf8-9f92-1337-c0f3-48a0213d2c6f
```