---
subcategory : "Logs Data Platform"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_dbaas_logs_token

Allows to manipulate LDP tokens.

## Example Usage

{{tffile "examples/resources/dbaas_logs_token/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The LDP service name
* `cluster_id` - Cluster ID. If not provided, the default cluster_id is used
* `name` - Name of the token

## Attributes Reference

* `service_name` - The LDP service name
* `cluster_id` - Cluster ID
* `name` - Name of the token
* `token_id` - ID of the token
* `value` - Token value
* `created_at` - Token creation date
* `updated_at` - Token last update date

## Import

A token can be imported using the `service_name` and `token_id` fields.

Using the following configuration:

{{tffile "examples/resources/dbaas_logs_token/example_2.tf"}}

You can then run:

```bash
$ terraform plan -generate-config-out=token.tf
$ terraform apply
```

The file `token.tf` will then contain the imported resource's configuration, that can be copied next to the `import` block above. See https://developer.hashicorp.com/terraform/language/import/generating-configuration for more details.
