---
subcategory : "Logs Data Platform"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_dbaas_logs_cluster

Reference a DBaaS logs cluster to manipulate ACL on a `DEDICATED` cluster type.

!> An LDP cluster can't be created and deleted via Terraform at this time. So when Terraform destroys the resource, it only actually restores it to its initial state.

## Example Usage

{{tffile "examples/resources/dbaas_logs_cluster/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The service name
* `cluster_id` - Cluster ID. If not provided, the default cluster_id is used
* `archive_allowed_networks` - List of IP blocks
* `direct_input_allowed_networks` - List of IP blocks
* `query_allowed_networks` - List of IP blocks

## Attributes Reference

Id is set to a concatenation of service name and cluster Id. In addition, the following attributes are exported:
* `urn` - URN of the DBaaS
* `cluster_type` - type of cluster (DEDICATED, PRO or TRIAL)
* `dedicated_input_pem` - PEM for dedicated inputs
* `archive_allowed_networks` - allowed networks for ARCHIVE flow type
* `direct_input_allowed_networks` - allowed networks for DIRECT_INPUT flow type
* `direct_input_pem` - PEM for direct inputs
* `hostname` - cluster hostname hosting tenant
* `is_default` - true if all content generated by given service will be placed on this cluster
* `is_unlocked` - true if given service can perform advanced operations on cluster
* `query_allowed_networks` - allowed networks for QUERY flow type
* `region` - datacenter localization

## Import

OVHcloud DBaaS Log Data Platform clusters can be imported using the `service_name` and `cluster_id` of the cluster, separated by "/" E.g.,

```bash
$ terraform import ovh_dbaas_logs_cluster.ldp service_name/cluster_id
```
