---
subcategory : "Domain names"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_domain_zone

Creates a domain zone.

## Important

-> **NOTE** To order a product through Terraform, your account needs to have a default payment method defined. This can be done in the [OVHcloud Control Panel](https://www.ovh.com/manager/#/dedicated/billing/payment/method) or via API with the [/me/payment/method](https://api.ovh.com/console/#/me/payment/method~GET) endpoint.

~> **WARNING** `BANK_ACCOUNT` is not supported anymore, please update your default payment method to `SEPA_DIRECT_DEBIT`

## Example Usage

{{tffile "examples/resources/domain_zone/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `ovh_subsidiary` - (Required) OVHcloud Subsidiary. Country of OVHcloud legal entity you'll be billed by. List of supported subsidiaries available on API at [/1.0/me.json under `models.nichandle.OvhSubsidiaryEnum`](https://eu.api.ovh.com/1.0/me.json)
* `plan` - (Required) Product Plan to order
  * `duration` - (Required) duration
  * `plan_code` - (Required) Plan code
  * `pricing_mode` - (Required) Pricing model identifier
  * `catalog_name` - Catalog name
  * `configuration` - (Required) Representation of a configuration item for personalizing product. 2 configurations are required : one for `zone` and one for `template`
    * `label` - (Required) Identifier of the resource : `zone` or `template`
    * `value` - (Required) For `zone`, the value is the zone name `myzone.example.com`. For `template`, the value can be `basic`, `minimized` or `redirect` which is the same as `minimized` with additional entries for a redirect configuration.
* `plan_option` - (Optional) Product Plan to order
  * `duration` - (Required) duration
  * `plan_code` - (Required) Plan code
  * `pricing_mode` - (Required) Pricing model identifier
  * `catalog_name` - Catalog name
  * `configuration` - (Optional) Representation of a configuration item for personalizing product
    * `label` - (Required) Identifier of the resource
    * `value` - (Required) Path to the resource in API.OVH.COM

## Attributes Reference

Id is set to the order Id. In addition, the following attributes are exported:

* `dnssec_supported` - Is DNSSEC supported by this zone
* `has_dns_anycast` - hasDnsAnycast flag of the DNS zone
* `last_update` - Last update date of the DNS zone
* `name` - Zone name
* `name_servers` - Name servers that host the DNS zone
* `urn` - URN of the DNS Zone to be used inside an IAM policy
* `order` - Details about an Order
  * `date` - date
  * `order_id` - order id
  * `expiration_date` - expiration date
  * `details` - Information about a Bill entry
    * `description` - description
    * `order_detail_id` - order detail id
    * `domain` - expiration date
    * `quantity` - quantity

## Timeouts

{{tffile "examples/resources/domain_zone/example_3.tf"}}

* `create` - (Default 30m)

## Import

Zone can be imported using its `name`.

Using the following configuration:

{{tffile "examples/resources/domain_zone/example_2.tf"}}

You can then run:

```bash
$ terraform plan -generate-config-out=zone.tf
$ terraform apply
```

The file `zone.tf` will then contain the imported resource's configuration, that can be copied next to the `import` block above. See https://developer.hashicorp.com/terraform/language/import/generating-configuration for more details.
