---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_me_api_oauth2_client

Creates an OAuth2 service account.

## Example Usage

An OAuth2 client for an app hosted at `my-app.com`, that uses the authorization code flow to authenticate.

{{tffile "examples/resources/me_api_oauth2_client/example_1.tf"}}

An OAuth2 client for an app hosted at `my-app.com`, that uses the client credentials flow to authenticate.

{{tffile "examples/resources/me_api_oauth2_client/example_2.tf"}}

## Argument Reference

* `name` - OAuth2 client name.
* `description` - OAuth2 client description.
* `flow` - The OAuth2 flow to use. `AUTHORIZATION_CODE` or `CLIENT_CREDENTIALS` are supported at the moment.
* `callback_urls` - List of callback urls when configuring the `AUTHORIZATION_CODE` flow.

## Attributes Reference

* `client_id` - Client ID of the created service account.
* `client_secret` - Client secret of the created service account.
* `name` - OAuth2 client name.
* `description` - OAuth2 client description.
* `flow` - The OAuth2 flow to use. `AUTHORIZATION_CODE` or `CLIENT_CREDENTIALS` are supported at the moment.
* `callback_urls` - List of callback urls when configuring the `AUTHORIZATION_CODE` flow.
* `identity` - Identity URN of the service account to be used inside an IAM policy.

## Import

OAuth2 clients can be imported using their `client_id`:

```bash
$ terraform import ovh_me_api_oauth2_client.my_oauth2_client client_id
```

Because the client_secret is only available for resources created using terraform, OAuth2 clients can also be imported using a `client_id` and a `client_secret` with a pipe separator:

```bash
$ terraform import ovh_me_api_oauth2_client.my_oauth2_client 'client_id|client_secret'
```
