---
subcategory : "Key Management Service (KMS)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_okms_service_key (Resource)

Creates a Service Key in an OVHcloud KMS.

## Example Usage

{{tffile "examples/resources/okms_service_key/example_1.tf"}}

## Argument Reference

### Required

- `name` (String) Key name
- `okms_id` (String) Okms ID
- `operations` (List of String) The operations for which the key is intended to be used
- `type` (String) Type of key to create

### Optional

- `context` (String) Context of the key
- `curve` (String) Curve type, for Elliptic Curve (EC) keys (Either P-256, P-384 or P-521)
- `size` (Number) Size of the key to be created, for symmetric and RSA keys (One of 128, 192 or 256 for symmetric keys, or one of 2048, 3072 or 4096 for RSA keys)

### Read-Only

- `created_at` (String) Creation time of the key
- `deactivation_reason` (String) Key deactivation reason
- `id` (String) Key ID
- `state` (String) State of the key
