---
subcategory : "vRack"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_vrack_dedicated_server

Attach a legacy dedicated server to a vRack.

~> **NOTE:** The resource `ovh_vrack_dedicated_server` is intended to be used for legacy dedicated servers.<br /> Dedicated servers that have configurable network interfaces MUST use the resource [`ovh_vrack_dedicated_server_interface`](vrack_dedicated_server_interface.html.markdown) instead.

## Example Usage

{{tffile "examples/resources/vrack_dedicated_server/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The service name of the vrack. If omitted, the `OVH_VRACK_SERVICE` environment variable is used.

* `server_id` - (Required) The id of the dedicated server.

## Attributes Reference

The following attributes are exported:

* `service_name` - See Argument Reference above.
* `server_id` - See Argument Reference above.
