---
subcategory : "vRack"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_vrack_ip

Attach an IP block to a VRack.

## Example Usage

{{tffile "examples/resources/vrack_ip/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The internal name of your vrack
* `block` - (Required) Your IP block.
* `region` - (Optional) The region (e.g: eu-west-gra) where want to route your block to.

## Attributes Reference

The following attributes are exported:

* `gateway` - Your gateway
* `ip` - Your IP block
* `region` - See Argument Reference above.
