---
subcategory : "vRack"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_vrack_ipv6

Attach an IPv6 block to a VRack.

## Example Usage

{{tffile "examples/resources/vrack_ipv6/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The internal name of your vrack
* `block` - (Required) Your IPv6 block.
* `bridged_subrange` - (Optional) Bridged subrange configuration.
  * `slaac` - (Required) Slaac status <enabled|disabled>

## Attributes Reference

* `region` - The region in which the block is routed.
* `ipv6` - The IPv6 block.

## Import

Attachment of an IPv6 block and a VRack can be imported using the `service_name` (vRack identifier) and the `block` (IPv6 block), separated by "," E.g.,

```bash
$ terraform import ovh_vrack_ipv6.myattach "<service_name>,<block>"
```
