---
subcategory : "Public IPs"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_floatingips

Use this data source to get the floating IPs of a public cloud project.

## Example Usage

To get information of floating IPs:

{{tffile "examples/data-sources/cloud_project_floatingips/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Required) The id of the public cloud project
* `region_name` - (Required) Public cloud region name

## Attributes Reference

The following attributes are exported:

* `associated_entity` - Associated entity with the floating IP
  * `ip` - IP of the port
  * `id` - ID of the port
  * `gateway_id` - ID of the gateway
  * `type` - Type of the port (dhcp┃instance┃loadbalancer┃routerInterface┃unknown)
* `id` - ID of the floating IP
* `ip` - Value of the floating IP
* `network_id` - ID of the network
* `region_name` - Floating IP region
* `status` - Status of the floating IP (active┃down┃error)
