---
subcategory : "Managed Kubernetes Service (MKS)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_kubernetes_nodepool_nodes (Data Source)

Use this data source to get a list of OVHcloud Managed Kubernetes nodes in a specific node pool.

## Example Usage

{{tffile "examples/data-sources/cloud_managed_kubernetes_nodepool_nodes/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - (Optional) The ID of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `kube_id` - The ID of the managed kubernetes cluster.

* `name` - Name of the node pool from which we want the nodes.

## Attributes Reference

The following attributes are exported:

* `service_name` - See Argument Reference above.
* `kube_id` - See Argument Reference above.
* `name` - See Argument Reference above.
* `nodes` - List of all nodes composing the kubernetes cluster.
  * `created_at` - Creation date.
  * `deployed_at` - (Optional) Date of the effective deployment.
  * `flavor` - Flavor name.
  * `id` - ID of the node.
  * `instance_id` - Openstack ID of the underlying VM of the node.
  * `is_up_to_date` - Is the node in the target version of the cluster.
  * `name` - Name of the node.
  * `node_pool_id` - Managed kubernetes node pool ID.
  * `project_id` - Public cloud project ID.
  * `status` - Current status.
  * `updated_at` - Last update date.
  * `version` - Version in which the node is.
