---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_analytics_m3db_namespaces (Data Source)

Use this data source to get the list of namespaces of a M3DB cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_managed_analytics_m3db_namespaces/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required) Cluster ID

## Attributes Reference

`id` is set to the md5 sum of the list of all namespaces ids. In addition, the following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `service_name` - See Argument Reference above.
* `namespace_ids` - The list of namespaces ids of the M3DB cluster associated with the project.
