---
subcategory : "vRack"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_vrack (Data Source)

Use this data source to get the linked vrack on your public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_project_vrack/example_1.tf"}}

## Argument Reference

* `service_name` - The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

## Attributes Reference

The following attributes are exported
* `id` - The id of the vrack
* `name` - The name of the vrack
* `decription` - The description of the vrack
* `service_name` - The id of the public cloud project
