---
subcategory : "Log Subscriptions"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_region_loadbalancer_log_subscriptions

Get information about subscriptions to a Managed Loadbalancer Logs Service in a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_project_region_loadbalancer_log_subscriptions/example_1.tf"}}

## Argument Reference

The following arguments are supported:

* `service_name` - The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.
* `region_name` - A valid OVHcloud public cloud region name in which the loadbalancer is available. Ex.: "GRA11".
* `loadbalancer_id` - Loadbalancer id to get the logs
* `kind` - (Optional) currently only "haproxy" is available

## Attributes Reference

The following attributes are exported:

* `service_name` - The id of the public cloud project.
* `region_name` - A valid OVHcloud public cloud region name in which the loadbalancer will be available. Ex.: "GRA11".
* `loadbalancer_id` - Loadbalancer id to get the logs
* `kind` - Router used for forwarding log
* `subscription_ids` - The list of the subscription id
