---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_database_capabilities (Data Source)

Use this data source to get information about capabilities of a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_project_database_capabilities/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

## Attributes Reference

The following attributes are exported:

`id` is set to `service_name` value. In addition, the following attributes are exported:

* `engines` - Database engines available.
  * `default_version` - Default version used for the engine.
  * `description` - Description of the engine.
  * `name` - Engine name.
  * `ssl_modes` - SSL modes for this engine.
  * `versions` - Versions available for this engine.
* `flavors` - Flavors available.
  * `core` - Flavor core number.
  * `memory` - Flavor ram size in GB.
  * `name` - Name of the flavor.
  * `storage` - Flavor disk size in GB.
* `options` - Options available.
  * `name` - Name of the option.
  * `type` - Type of the option.
* `plans` - Plans available.
  * `backup_retention` - Automatic backup retention duration.
  * `description` - Description of the plan.
  * `name` - Name of the plan.
* `service_name` - See Argument Reference above.
