---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_project_database_valkey_user (Data Source)

Use this data source to get information about a user of a valkey cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_project_database_valkey_user/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required) Cluster ID

* `name` - (Required) Name of the user

## Attributes Reference

The following attributes are exported:

* `categories` - Categories of the user.
* `channels` - Channels of the user.
* `cluster_id` - See Argument Reference above.
* `commands` - Commands of the user.
* `created_at` - Date of the creation of the user.
* `id` - ID of the user.
* `keys` - Keys of the user.
* `name` - See Argument Reference above.
* `service_name` - Current status of the user.
* `status` - Current status of the user.
