---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_analytics_kafka_acl (Data Source)

Use this data source to get information about an ACL of a kafka cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_managed_analytics_kafka_acl/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required) Cluster ID

* `id` - (Required) ACL ID

## Attributes Reference

The following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `id` - See Argument Reference above.
* `permission` - Permission to give to this username on this topic.
* `service_name` - See Argument Reference above.
* `topic` - Topic affected by this ACL.
* `username` - Username affected by this ACL.
