---
subcategory : "Instances"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_instance_group

Use this data source to retrieve information about an instance group (placement group) in a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_instance_group/data-source.tf"}}

{{ .SchemaMarkdown }}
