---
subcategory : "Managed Databases"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_cloud_managed_analytics_opensearch_pattern (Data Source)

Use this data source to get information about a pattern of a opensearch cluster associated with a public cloud project.

## Example Usage

{{tffile "examples/data-sources/cloud_managed_analytics_opensearch_pattern/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The id of the public cloud project. If omitted, the `OVH_CLOUD_PROJECT_SERVICE` environment variable is used.

* `cluster_id` - (Required) Cluster ID

* `id` - (Required) Pattern ID.

## Attributes Reference

The following attributes are exported:

* `cluster_id` - See Argument Reference above.
* `id` - See Argument Reference above.
* `max_index_count` - Maximum number of index for this pattern.
* `pattern` - Pattern format.
* `service_name` - Current status of the pattern.
