---
subcategory : "Web Cloud Private SQL"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_hosting_privatedatabase_user (Data Source)

Use this data source to retrieve information about an hosting privatedatabase user.

## Example Usage

{{tffile "examples/data-sources/hosting_privatedatabase_user/example_1.tf"}}

## Argument Reference

* `service_name` - The internal name of your private database
* `user_name` - User name

## Attributes Reference

`id` is set to `service_name`/`user_name`. In addition, the following attributes are exported.

* `creation_date` - Creation date of the database
* `databases` - Users granted to this database
  * `database_name` - Database's name linked to this user
  * `grant_type` - Grant of this user for this database
