---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_iam_reference_resource_type (Data Source)

Use this data source to list all the IAM resource types.

## Example Usage

{{tffile "examples/data-sources/iam_reference_resource_type/example_1.tf"}}

## Argument Reference

## Attributes Reference

* `id` - hash of the list of the resource types
* `types` - List of resource types
