---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_iam_resource_group (Data Source)

Use this data source get details about a resource group.

## Example Usage

{{tffile "examples/data-sources/iam_resource_group/example_1.tf"}}

## Argument Reference

* `id`- Id of the resource group

## Attributes Reference

* `name`- Name of the resource group
* `resources`- Set of the URNs of the resources contained in the resource group
* `owner`- Name of the account owning the resource group
* `created_at`- Date of the creation of the resource group
* `updated_at`- Date of the last modification of the resource group
* `read_only`- Marks that the resource group is not editable. Usually means that this is a default resource group created by OVHcloud
* `urn`- URN of the resource group, used when writing policies
