---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_iam_policy (Data Source)

Use this data source to list the existing IAM policies of an account.

## Example Usage

{{tffile "examples/data-sources/iam_policies/example_1.tf"}}

## Argument Reference

## Attributes Reference

* `id` - Hash of the list of the policy IDs.
* `policies` - List of the policies IDs.
