---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_iam_permissions_group (Data Source)

Use this data source to retrieve an IAM permissions group.

## Example Usage

{{tffile "examples/data-sources/iam_permissions_groups/example_1.tf"}}

## Argument Reference

* `urn` - URN of the permissions group.

## Attributes Reference

* `name` - Name of the permissions group.
* `description` - Group description.
* `allow` - Set of actions allowed by the permissions group.
* `except` - Set of actions that will be subtracted from the `allow` list.
* `deny` - Set of actions that will always be denied even if it is explicitly allowed by a policy.
* `owner` - Owner of the permissions group.
* `created_at` - Creation date of this group.
* `updated_at` - Date of the last update of this group.
* `read_only` - Indicates that this is a default permissions group, managed by OVHcloud.
