---
subcategory : "Load Balancer (IPLB)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_iploadbalancing_vrack_networks (Data Source)

Use this data source to get the list of Vrack network ids available for your IPLoadbalancer associated with your OVHcloud account.

## Example Usage

{{tffile "examples/data-sources/iploadbalancing_vrack_networks/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The internal name of your IP load balancing

* `subnet` - Filters networks on the subnet.

* `vlan_id` - Filters networks on the vlan id.

## Attributes Reference

The following attributes are exported:

* `result` - The list of vrack network ids.
