---
subcategory : "Account Management (IAM)"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_me_identity_groups (Data Source)

Use this data source to retrieve the list of the account's identity groups

## Example Usage

{{tffile "examples/data-sources/me_identity_groups/example_1.tf"}}

## Argument Reference

This datasource takes no arguments.

## Attributes Reference

* `groups` - The list of the group names of all the identity groups.
