---
subcategory : "VPS"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# ovh_vps_snapshot (Data Source)

Use this data source to retrieve information about the snapshot for an OVHcloud VPS.

## Example Usage

{{tffile "examples/data-sources/vps_snapshot/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The service_name of your VPS.

## Attributes Reference

(See generated docs/data-sources/vps_snapshot.md for the full attribute list.)

* `id` - The ID of the snapshot.
* `creation_date` - Date when the snapshot was created.
* `description` - Description of the snapshot.
