---
subcategory : "VPS"
---

# ovh_vps_ip_country_available (Data Source)

Use this data source to list the geolocation values that can be requested
when ordering an additional IP for the given VPS.

## Example Usage

{{tffile "examples/data-sources/vps_ip_country_available/example_1.tf"}}

## Argument Reference

* `service_name` - (Required) The internal name of your VPS.

## Attributes Reference

* `result` - List of allowed geolocation country codes.
