---
subcategory : "VPS"
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# vpss (Data Source)

Use this data source to get the list of VPS associated with your OVH Account.

## Example Usage

{{tffile "examples/data-sources/vpss/example_1.tf"}}

## Argument Reference

This datasource takes no argument.

## Attributes Reference

The following attributes are exported:

* `result` - The list of VPS IDs associated with your OVH Account.
